.userChat{
    flex: 1;
    padding: 10px 40px;
}

.chat__message{
    display: inline-block;
    left: 500px;
    background-color: #202c33;
    padding: 10px 10px;
    border-radius: 10px;
    margin-right: auto;
}

.chat__message .msg{
    font-size: 14px;
    color: white;
}

.chat__message .time{
    font-size: 12px;
    color: white;
    margin-left: 50px;
}

.chat__sender{
    width: fit-content;
    background-color: #005c4b;
    padding: 10px 10px;
    margin-left: auto;
    border-radius: 10px;
}

.chat__sender .msg{
    font-size: 14px;
    color: white;
}

.chat__sender .time{
    font-size: 12px;
    color: white;
    margin-left: 50px;
}