.app{
    width: 100%;
    height: 100vh;
    background-color: #111B21;
    display: grid;
    place-items: center;
}

.app__body{
    display: flex;
    width: 80vw;
    height: 98vh;
}

.loading{
    width: 100%;
    height: 100vh;
    background-color: #111B21;
    display: grid;
    place-items: center;
}

.loading__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading__content > img{
    width: 200px;
    object-fit: contain;
    margin-bottom: 50px;
}